- @subtitle = "All Users"
- @menu = "Users"

%table#pending_users
  %thead
    %tr
      %th Name
      %th Email
      %th College
      %th Course
      %th Edit
  %tbody
    - @all_users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.college.name
        %td= user.courses_to_str
        %td= link_to 'Edit', edit_user_path(user.id)
