- @subtitle = "Edit User"

%h3
  - if @user.pending == 0
    = "#{@user.name} (Pending)"
  - if @user.pending == 1
    = "#{@user.name}"
  - if @user.pending == 2
    = "#{@user.name} (Inactive)"
= form_tag user_path(@user), :method => :put do
  = label :user, :name, "Name: #{@user.name}"
  = label :user, :email, "Email: #{@user.email}"
  = label :college, :name, "College:"
  = select :college, :name, options_for_select(College.all.collect { |c| [c.name, c.id] }.sort, @college.id)
  %br
  = submit_tag 'Update User Info'
%br

%h4 
  = "Active Courses"
%table.table
  - @active_courses.each do |course|
    %tr
      %td
        %li= course.name
      %td= button_to "Remove", remove_course_path({:user => @user, :course => course}), :confirm => "Are you sure you want to remove #{course.name}?"
%h4 
  = "Inactive Courses"
%table.table
  - @inactive_courses.each do |course|
    %tr
      %td
        %li= course.name

= form_tag add_course_path({:user => @user}), :method => :put do
  %h4= "Add Course"
  = label_tag "School"
  = select_tag "school[#{@user.id}]", options_for_select(School.all.collect { |s| ["#{s.name}, #{s.city}, #{s.county}", s.id]}.sort), :style => "width: 325px;"
  = label_tag "Semester"
  = select_tag "semester[#{@user.id}]", options_for_select(["Spring #{Time.now.year-1}", "Fall #{Time.now.year-1}", "Spring #{Time.now.year}", "Fall #{Time.now.year}", "Spring #{Time.now.year+1}", "Fall #{Time.now.year+1}"]), :style => "width: 125px;"
  = label_tag "Curriculum"
  = select_tag "curriculum[#{@user.id}]", options_for_select(Curriculum.all.collect { |curriculum| [curriculum.name, curriculum.id] }.sort), :style => "width: 150px;"
  %br
  = submit_tag "Add"

- if @user.pending == 1
  %h4
    = "Deactivate User"
  = button_to "Deactivate User", deactivate_user_path({:user => @user}), :confirm => "Are you sure you want to deactivate #{@user.name}?"
- if @user.pending == 2
  %h4
    = "Activate User"
  = button_to "Activate User", activate_user_path({:user => @user})
