- @subtitle = 'Pending Users'

= form_tag update_pending_users_path, :method => :post, :id => 'pending_users_form' do
  %table#pending_users
    %thead
      %tr
        %th Name
        %th Email
        %th College
        %th Course
        %th Approve
        %th Disapprove
    %tbody
      - @pending_users.each do |user|
        %tr
          %td= user.name
          %td= user.email
          %td= select_tag "colleges[#{user[:id]}]", options_for_select(College.all.collect { |s| ["#{s.name}", s.id ]}, :selected => user.college.id), :style => "width: 125px;"
          %td= select_tag "courses[#{user[:id]}]", options_for_select(Course.where(:active => true).collect { |c| [c.name, c.id ] }, user.pending_course_id), :style => "width: 375px;"         
          %td= check_box_tag "approves[#{user[:id]}]", 1, false, :id => "approves_#{user[:id]}", :style => "width: 30px;"
          %td= check_box_tag "disapproves[#{user[:id]}]", 1, false, :id => "disapproves_#{user[:id]}", :style => "width: 30px;"
  = submit_tag 'Update', :id => 'update_submit', :style => "margin: 10px;"
