- @subtitle = "Portal"
- @menu = "Courses"

%h4
  = "Active Courses for #{@current_user.name}"
%table.table
  %thead
    %tr
      %th School Course
      %th Curriculum
      %th Pre-Surveys
      %th Post-Surveys
  %tbody
  - @active_courses.each do |course|
    %tr
      %td
        = "#{course.name}"
      %td
        = "#{course.curriculum.name}"
      %td
        - survey = Postsurvey.find_by_course_id(course.id)
        = link_to "Show Pre-Survey", presurvey_path(survey), :id => survey.id, class: "btn"
      %td
        - survey = Postsurvey.find_by_course_id(course.id)
        = link_to "Show Post-Survey", postsurvey_path(survey), :id => survey.id, class: "btn"

%h4
  = "Inactive Courses for #{@current_user.name}"
%table.table
  %thead
    %tr
      %th School Course
      %th Curriculum
      %th Pre-Surveys
      %th Post-Surveys
  %tbody
  - @inactive_courses.each do |course|
    %tr
      %td
        = "#{course.name}"
      %td
        = "#{course.curriculum.name}"
      %td
        - survey = Postsurvey.find_by_course_id(course.id)
        = link_to "Show Pre-Survey", presurvey_path(survey), :id => survey.id, class: "btn"
      %td
        - survey = Postsurvey.find_by_course_id(course.id)
        = link_to "Show Post-Survey", postsurvey_path(survey), :id => survey.id, class: "btn"

