- @subtitle = "Portal"

- if @current_user.admin?
  = link_to("Pending Users", pending_users_path)
  | 
  = link_to("Survey Templates", survey_template_index_path)
  | 
  = link_to("Add New School", new_school_path)
  | 
  = link_to("Show All Schools", schools_path)
  |
  = link_to("Add New College", new_college_path)
  |
  = link_to("Show All Colleges", colleges_path)
  | 
  = link_to("Add New Administrator", new_admin_path)
  |
  = link_to("All Users", all_users_path)
  |
  = link_to("Cumulative Reports", all_efficacies_path)
  |
= link_to "Preview Report/Add Ambassador Comments", new_report_path
%br
%br

- if not @current_user.postsurveys
  Total Number of Students:
  = @current_user.postsurveys.first.number_students
  %br
  %br

%table.table
  %thead
    %tr
      %th School Course
      %th Pre-Surveys
      %th Post-Surveys
  %tbody
    %tr
      %td
        - if @current_user.admin?
          - Course.all.each do |course|
            = "#{course.name}"
        - else
          - @current_user.courses.each do |course|
            = "#{course.name}"
      %td
        - if @current_user.admin?
          - Course.all.each do |course|
            - survey = Postsurvey.find_by_course_id(course.id)
            = link_to presurvey_path(survey), :id => survey.id do
              %input{type: "submit", value: "Show"}
        - else
          - @current_user.courses.each do |course|
            - survey = Postsurvey.find_by_course_id(course.id)
            = link_to presurvey_path(survey), :id => survey.id do
              %input{type: "submit", value: "Show"}
      %td
        - if @current_user.admin?
          - Course.all.each do |course|
            - survey = Postsurvey.find_by_course_id(course.id)
            = link_to postsurvey_path(survey), :id => survey.id do
              %input{type: "submit", value: "Show Post-Survey"}
        - else
          - @current_user.courses.each do |course|
            - survey = Postsurvey.find_by_course_id(course.id)
            = link_to postsurvey_path(survey), :id => survey.id do
              %input{type: "submit", value: "Show Post-Survey"}
