- @subtitle = "Portal"

- if @current_user.admin?
  = link_to("Pending Users", pending_users_path)
  | 
  = link_to("Survey Templates", survey_template_index_path)
  | 
  = link_to("Add New School", new_school_path)
  | 
  = link_to("Show All Schools", schools_path)
  |
  = link_to("Add New College", new_college_path)
  |
  = link_to("Show All Colleges", colleges_path)
  | 
  = link_to("Add New Administrator", new_admin_path)
  |
  = link_to("All Users", all_users_path)
  |
  = link_to("Cumulative Reports", all_efficacies_path)
  |
= link_to "Preview Report/Add Ambassador Comments", new_report_path
%br
%br

.navbar
  .navbar-inner
    %a.brand
      = link_to "Home", portal_path
    %ul.nav
      %li Test 1
      %li Test 2


%table.table
  %thead
    %tr
      %th School Course
      %th Pre-Surveys
      %th Post-Surveys
  %tbody
  - @courses.each do |course|
    %tr
      %td
        = "#{course.name}"
      %td
        - survey = Postsurvey.find_by_course_id(course.id)
        = link_to "Show Pre-Survey", presurvey_path(survey), :id => survey.id, class: "btn"
      %td
        - survey = Postsurvey.find_by_course_id(course.id)
        = link_to "Show Post-Survey", postsurvey_path(survey), :id => survey.id, class: "btn"
