<% @subtitle = "Survey Templates" %>

<script>
$(document).ready(function() {
    $('#add_new_survey_btn').click(function () {
        window.location = "<%= new_survey_template_path %>";
    });
});
</script>
<a id="add_new_survey_btn" href="<%= new_survey_template_path %>">Add new survey</a>
<hr />
<% if @survey_templates != nil %>
<%  @survey_templates.each do |template| %>
<a href="<%= edit_survey_template_path(template.id) %>"><%= template.name %> (<%= template.id %>)</a><br />
<%  end %>
<% end %>
