- @subtitle = "Post-Survey Results"

%span
  %table
    %tr
      %th
      - @users.each do |user|
        %th= user.name
    - @curriculum.sections.each do |section|
      %tr
        %td= label_tag section.id, "#{section.name}"
      - section.questions.each do |question|
        %tr
          %td= label_tag question.id, "#{question.name}"
          - @users.each do |user|
            %td= text_field_tag "#{user.id}_#{question.id}", @postsurvey_data[user.id][question.id], :readonly => true

= button_to "Edit Postsurvey", edit_postsurvey_path(params[:id]), :method => :get, :id => params[:id]
