- @presurvey_fields.data.each do |question, result|
  = f.label "#{question}", "#{question}"
  = f.text_field "#{question}", :value=>result, :class => "numeric_input_field", :style => "text-align: Right;"
  %br

