- @subtitle = "Edit Pre-Survey Results"

%span
  = form_tag("/presurveys/#{params[:id]}", method: "put") do
    - @curriculum.sections.each do |section|
      = label_tag section.id, "#{section.name}"
      - section.questions.each do |question|
        = label_tag question.id, "#{question.name}"
        = text_field_tag question.id, @presurvey_data[@current_user.id][question.id]
    %br
    = submit_tag 'Save Changes'
