- @subtitle = "Add Presurvey Results"

%span
  = form_tag("/presurveys", method: "post") do
    = label_tag :school_id, "School"
    = select_tag :school_id, options_for_select(@all_schools)
    - @all_curriculums[0].sections.each do |section|
      = label_tag(section.id, "#{section.name}")
      = text_field_tag(section.id) 
    = submit_tag("SDFSDFS")
