!!! 5
%html
  %head
    %title Fruitful Minds - #{@subtitle}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    :css
      .background, #main{
        padding: 10px 20px 10px 20px;
      }
      #header span{
        font-weight: 500;
        position: relative;
      }
      #title{
        font-size: x-large;
        top: -10px;
      }
      #subtitle{
        font-size: large;
        top: -10px;
      }
      .user_info{
        position: relative;
        float: left;
      }
      #user_control{
        float: right;
        position: relative;
      }
      .user_action{
        margin: 0px 0px 0px 10px;
      }
      #survey_options{
        padding: 20px 0px 0px 0px;
      }

    :javascript
      function isValidForm(){
        var can_redirect = true;
        $(":text").each(function(index){
          if ($(this).attr('class') == "numeric_input_field"){
            if (!$.isNumeric(this.value) || this.value < 0){
              can_redirect = false;
              return false;
            }
          }
          else if ($(this).attr('class') == "text_input_field"){
            if (!this.value || !this.value.trim()){
              can_redirect = false;
              return false;
            }
            else
              $(this).val(this.value.trim());
          }
        });
        return can_redirect;
      };
      $(document).ready(function(){
        $("#previous").click(function(){
          if ($("form").hasClass("form_to_validate") == false)
            return true;
          else if ($(":text").length == 0)
            return true;
          else{
            if (!isValidForm())
              alert("Survey record is incomplete or has invalid characters.");
            return isValidForm();
          }
        });
        $("form").submit(function(e){
          if ($(this).hasClass("form_to_validate") == false)
            return true;
          else if (!isValidForm()){
            alert("Results failed to add. Incomplete or has invalid characters.");
            e.preventDefault();
            return false;
          }
          else
            return true;
        });
        $(".numeric_input_field").focusin(function(){
          if (this.value == "Not a Number")
            $(this).val("");
        });
        $(".numeric_input_field").focusout(function(){
          if (!this.value) {
            $(this).css("background-color", "red");
            $(this).css("color", "white");
          }
          else if (!$.isNumeric(this.value) || this.value < 0){
            $(this).css("background-color", "red");
            $(this).css("color", "white");
          }
          else {
            $(this).css("background-color", "white");
            $(this).css("color", "black");
          }
        });
        $(".text_input_field").focusout(function(){
          if (!this.value || !this.value.trim()){
            $(this).css("background-color", "red");
            $(this).css("color", "white");
            $(this).val(this.value.trim());
          }
          else{
            $(this).css("background-color", "white");
            $(this).css("color", "black");
          }
        });
      });
  %body
    %div.background
      -if @current_user
        .navbar
          .navbar-inner
            %a.brand{:href=>portal_path, :style=>"padding:3px;", :id=>"Logo"}
              = image_tag("nav_logo.png")
            %a.brand{:href=>portal_path, :style=>"padding:10px 30px 10px;"} Fruitful Minds
            %ul.nav
              %li.dropdown{:class=>("dropdown active" if  @menu == "Courses")}
                %a.dropdown-toggle{"data-toggle" =>"dropdown", :id=>"Courses"} 
                  Courses 
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>portal_path, :id=>"Show Courses"} Show Courses
              -if @current_user.admin?
                %li.dropdown{:class=>("dropdown active" if @menu == "Users")}
                  %a.dropdown-toggle{"data-toggle" =>"dropdown", :id=>"Users"}  
                    Users 
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href=>users_path, :id=>"Show Users"} Show Users
                    %li
                      %a{:href=>"app/views/users/new"} Add New User
                %li.dropdown{:class=>("dropdown active" if @menu == "Schools")}
                  %a.dropdown-toggle{"data-toggle" =>"dropdown", :id=>"Schools"}  
                    Schools 
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href=>schools_path, :id=>"Show Schools"} Show Schools
                    %li
                      %a Add New School
                %li.dropdown{:class=>("dropdown active" if @menu == "Colleges")}
                  %a.dropdown-toggle{"data-toggle" =>"dropdown", :id=>"Colleges"}  
                    Colleges 
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href=>colleges_path, :id=>"Show Colleges"} Show Colleges
                    %li
                      %a Add New College
              %li.dropdown{:class=>("dropdown active" if @menu == "Reports")}
                %a.dropdown-toggle{"data-toggle" =>"dropdown", :id=>"Reports"}  
                  Reports 
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>reports_path, :id=>"Generate Reports"} Generate Course Report
                  -if @current_user.admin?
                    %li
                      %a Generate Historical Report
                    
            %ul.nav.pull-right
              %li
                %a{:href=>logout_path} Logout
      -else
        %span#header
          %span
            = image_tag("fm_icon.jpg", :height => "40", :alt => "image not found")
          %span
            %span#title Fruitful Minds: 
            %span#subtitle 
              = @subtitle
            %span#user_control
              - if @current_user
                - if request.env['PATH_INFO'] != "/portal"
                  %span.user_action#previous
                    = link_to "Previous", :portal, :method => :get
                %span.user_info
                  = "Hello #{@current_user.name}"
                %span.user_action
                  = link_to "Log Out", logout_path, :id => "log_out"
        - if @current_user and @school
          %div#survey_options
            %p= "County: #{@school.county}"
            %p= "District: #{@school.district}"
            %p= "City: #{@school.city}"
            %p= "School Name: #{@school.name}"

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
